In [17]:
import pandas as pd

In [34]:
df = pd.read_csv("product_price_1_year.csv")
df["date"] = pd.to_datetime(df["date"])
df = df.set_index("date")
df.head()

              value
date
2023-10-20  1093.92
2023-10-19  1103.09
2023-10-18  1108.82
2023-10-17  1115.10
2023-10-16  1115.71

In [36]:
# Filter out relevant data
start_date = pd.to_datetime('2022-08-09')
filtered_df = df[df.index >= start_date]

# Most recent data first
filtered_df = filtered_df.sort_index()
filtered_df

              value
date
2022-08-09  1060.22
2022-08-10  1075.89
2022-08-11  1073.05
2022-08-12  1077.79
2022-08-15  1089.43
...             ...
2023-10-16  1115.71
2023-10-17  1115.10
2023-10-18  1108.82
2023-10-19  1103.09
2023-10-20  1093.92

[304 rows x 1 columns]

In [37]:
filtered_df.to_csv("product_price_1_year.csv")

In [46]:
# Sanity check
a = pd.read_csv("asset_price_1_year.csv")
b = pd.read_csv("product_price_1_year.csv")
assert len(a) == len(b)