In [2]:
import pandas as pd

### Product Price

In [34]:
df = pd.read_csv("product_price_1_year.csv")
df["date"] = pd.to_datetime(df["date"])
df = df.set_index("date")
df.head()

              value
date
2023-10-20  1093.92
2023-10-19  1103.09
2023-10-18  1108.82
2023-10-17  1115.10
2023-10-16  1115.71

In [36]:
# Filter out relevant data
start_date = pd.to_datetime('2022-08-09')
filtered_df = df[df.index >= start_date]

# Most recent data first
filtered_df = filtered_df.sort_index()
filtered_df

              value
date
2022-08-09  1060.22
2022-08-10  1075.89
2022-08-11  1073.05
2022-08-12  1077.79
2022-08-15  1089.43
...             ...
2023-10-16  1115.71
2023-10-17  1115.10
2023-10-18  1108.82
2023-10-19  1103.09
2023-10-20  1093.92

[304 rows x 1 columns]

In [37]:
filtered_df.to_csv("product_price_1_year.csv")

### Asset Price

In [46]:
# Sanity check
a = pd.read_csv("asset_price_1_year.csv")
b = pd.read_csv("product_price_1_year.csv")
assert len(a) == len(b)

### Daily Interest Rate

In [6]:
rate_2022 = pd.read_csv("daily-treasury-rates.csv")
rate_2022["Date"] = pd.to_datetime(rate_2022["Date"])
rate_2022 = rate_2022.set_index("Date")
rate_2022.head()

,1 Mo,2 Mo,3 Mo,4 Mo,6 Mo,1 Yr,2 Yr,3 Yr,5 Yr,7 Yr,10 Yr,20 Yr,30 Yr
Date,,,,,,,,,,,,,
2022-12-30,4.12,4.41,4.42,4.69,4.76,4.73,4.41,4.22,3.99,3.96,3.88,4.14,3.97
2022-12-29,4.04,4.39,4.45,4.66,4.73,4.71,4.34,4.16,3.94,3.91,3.83,4.09,3.92
2022-12-28,3.86,4.33,4.46,4.66,4.75,4.71,4.31,4.18,3.97,3.97,3.88,4.13,3.98
2022-12-27,3.87,4.32,4.46,4.66,4.76,4.75,4.32,4.17,3.94,3.93,3.84,4.10,3.93
2022-12-23,3.80,4.20,4.34,4.59,4.67,4.66,4.31,4.09,3.86,3.83,3.75,3.99,3.82

In [9]:
start_date = pd.to_datetime('2022-08-09')
filtered_rate_2022 = rate_2022[rate_2022.index >= start_date]
filtered_rate_2022 = filtered_rate_2022.sort_index()
filtered_rate_2022

,1 Mo,2 Mo,3 Mo,4 Mo,6 Mo,1 Yr,2 Yr,3 Yr,5 Yr,7 Yr,10 Yr,20 Yr,30 Yr
Date,,,,,,,,,,,,,
2022-08-09,2.23,2.43,2.67,NaN,3.16,3.33,3.28,3.20,2.97,2.89,2.80,3.24,3.01
2022-08-10,2.24,2.43,2.65,NaN,3.13,3.26,3.23,3.13,2.93,2.86,2.78,3.27,3.04
2022-08-11,2.24,2.51,2.62,NaN,3.08,3.25,3.23,3.16,2.98,2.94,2.87,3.38,3.15
2022-08-12,2.23,2.50,2.63,NaN,3.13,3.26,3.25,3.18,2.97,2.92,2.84,3.34,3.12
2022-08-15,2.27,2.53,2.72,NaN,3.13,3.23,3.20,3.14,2.91,2.86,2.79,3.31,3.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-23,3.80,4.20,4.34,4.59,4.67,4.66,4.31,4.09,3.86,3.83,3.75,3.99,3.82
2022-12-27,3.87,4.32,4.46,4.66,4.76,4.75,4.32,4.17,3.94,3.93,3.84,4.10,3.93
2022-12-28,3.86,4.33,4.46,4.66,4.75,4.71,4.31,4.18,3.97,3.97,3.88,4.13,3.98
2022-12-29,4.04,4.39,4.45,4.66,4.73,4.71,4.34,4.16,3.94,3.91,3.83,4.09,3.92
2022-12-30,4.12,4.41,4.42,4.69,4.76,4.73,4.41,4.22,3.99,3.96,3.88,4.14,3.97

In [10]:
rate_2023 = pd.read_csv("daily-treasury-rates (1).csv")
rate_2023["Date"] = pd.to_datetime(rate_2023["Date"])
rate_2023 = rate_2023.set_index("Date")
rate_2023.head()

,1 Mo,2 Mo,3 Mo,4 Mo,6 Mo,1 Yr,2 Yr,3 Yr,5 Yr,7 Yr,10 Yr,20 Yr,30 Yr
Date,,,,,,,,,,,,,
2023-10-31,5.56,5.57,5.59,5.61,5.54,5.44,5.07,4.90,4.82,4.89,4.88,5.21,5.04
2023-10-30,5.56,5.57,5.60,5.61,5.53,5.41,5.03,4.87,4.80,4.88,4.88,5.21,5.04
2023-10-27,5.57,5.57,5.59,5.60,5.55,5.39,4.99,4.84,4.76,4.83,4.84,5.19,5.03
2023-10-26,5.57,5.57,5.59,5.60,5.55,5.39,5.02,4.89,4.79,4.86,4.86,5.19,5.01
2023-10-25,5.56,5.57,5.59,5.61,5.57,5.43,5.08,4.98,4.89,4.98,4.95,5.27,5.09

In [11]:
end_date = pd.to_datetime('2023-10-20')
filtered_rate_2023 = rate_2023[rate_2023.index <= end_date]
filtered_rate_2023 = filtered_rate_2023.sort_index()
filtered_rate_2023

,1 Mo,2 Mo,3 Mo,4 Mo,6 Mo,1 Yr,2 Yr,3 Yr,5 Yr,7 Yr,10 Yr,20 Yr,30 Yr
Date,,,,,,,,,,,,,
2023-01-03,4.17,4.42,4.53,4.70,4.77,4.72,4.40,4.18,3.94,3.89,3.79,4.06,3.88
2023-01-04,4.20,4.42,4.55,4.69,4.77,4.71,4.36,4.11,3.85,3.79,3.69,3.97,3.81
2023-01-05,4.30,4.55,4.66,4.75,4.81,4.78,4.45,4.18,3.90,3.82,3.71,3.96,3.78
2023-01-06,4.32,4.55,4.67,4.74,4.79,4.71,4.24,3.96,3.69,3.63,3.55,3.84,3.67
2023-01-09,4.37,4.58,4.70,4.74,4.83,4.69,4.19,3.93,3.66,3.60,3.53,3.83,3.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-16,5.57,5.58,5.61,5.63,5.58,5.42,5.09,4.87,4.72,4.74,4.71,5.06,4.87
2023-10-17,5.58,5.58,5.62,5.64,5.60,5.48,5.19,5.01,4.86,4.88,4.83,5.14,4.94
2023-10-18,5.57,5.56,5.61,5.62,5.58,5.47,5.19,5.03,4.92,4.95,4.91,5.20,5.00
2023-10-19,5.58,5.57,5.60,5.62,5.56,5.44,5.14,5.01,4.95,5.00,4.98,5.30,5.11
2023-10-20,5.56,5.56,5.58,5.61,5.54,5.41,5.07,4.93,4.86,4.93,4.93,5.27,5.09

In [14]:
rate_combined = pd.concat([filtered_rate_2022, filtered_rate_2023])
rate_combined

,1 Mo,2 Mo,3 Mo,4 Mo,6 Mo,1 Yr,2 Yr,3 Yr,5 Yr,7 Yr,10 Yr,20 Yr,30 Yr
Date,,,,,,,,,,,,,
2022-08-09,2.23,2.43,2.67,NaN,3.16,3.33,3.28,3.20,2.97,2.89,2.80,3.24,3.01
2022-08-10,2.24,2.43,2.65,NaN,3.13,3.26,3.23,3.13,2.93,2.86,2.78,3.27,3.04
2022-08-11,2.24,2.51,2.62,NaN,3.08,3.25,3.23,3.16,2.98,2.94,2.87,3.38,3.15
2022-08-12,2.23,2.50,2.63,NaN,3.13,3.26,3.25,3.18,2.97,2.92,2.84,3.34,3.12
2022-08-15,2.27,2.53,2.72,NaN,3.13,3.23,3.20,3.14,2.91,2.86,2.79,3.31,3.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-16,5.57,5.58,5.61,5.63,5.58,5.42,5.09,4.87,4.72,4.74,4.71,5.06,4.87
2023-10-17,5.58,5.58,5.62,5.64,5.60,5.48,5.19,5.01,4.86,4.88,4.83,5.14,4.94
2023-10-18,5.57,5.56,5.61,5.62,5.58,5.47,5.19,5.03,4.92,4.95,4.91,5.20,5.00
2023-10-19,5.58,5.57,5.60,5.62,5.56,5.44,5.14,5.01,4.95,5.00,4.98,5.30,5.11
2023-10-20,5.56,5.56,5.58,5.61,5.54,5.41,5.07,4.93,4.86,4.93,4.93,5.27,5.09

In [15]:
rate_combined.to_csv("daily_treasury_rate_1_year.csv")